#  Kompilierte Quelle # 
# ################## 
*  .com 
*  .Klasse 
*  .dll 
*  .exe 
*  .o 
*  .so 

#  Pakete # 
# ########### 
#  Es ist besser, diese Dateien zu entpacken und die Rohquelle zu übernehmen 
#  Git verfügt über eigene integrierte Komprimierungsmethoden 
*  .7z 
*  .dmg 
*  .gz 
*  .iso 
*  .jar 
*  .rar 
*  .tar 
*  .zip 

#  Protokolle und Datenbanken # 
# ##################### 
*  .log 
*  .sql 
*  .sqlite 

#  Vom Betriebssystem generierte Dateien # 
# ##################### 
.DS_Store 
.DS_Store  ? 
._ * 
.Spotlight-V100 
.Müll 
ehthumbs.db 
Thumbs.db 
